<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/item_info.css">
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div class="logo">
                    <h1><a href="#" class="nav__logo">COORGANICA</a></h1>
                    <img src="https://tinyurl.com/yxcwnhmq"/>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                        <li id="profile" class="nav__item"><a href="http://localhost:1000/your_account.html" class="nav__link">Your Account</a></li>
                        <li id="profile" class="nav__item"><a href="#" class="nav__link">Cart</a></li>
                        <li id="sign-out" class="nav__item"><a href="#" class="nav__link">Sign out</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="main_item_div">
            <div class="item">
              <div class="item_image">
                <img src="<%=data[0].image%>" />
              </div>
              <div class="item_details">
                <p><%=data[0].seller%></p>
                <p><%=data[0].title%></p>
                <p>₹<%=data[0].price%>.00</p>
                <p>Delivery fee ₹ 25</p>
                <div class="images">
                  <img src="https://tinyurl.com/y6enkupe" alt="Chemical-free"/><span>Chemical-free</span>
                  <img src="https://tinyurl.com/y6kasp29"/><span>Cruelty-free</span>
                  <img src="https://tinyurl.com/y5bqcjha"/><span>Locally sourced</span>
                  <img src="https://tinyurl.com/y3dmh7cq"/><span>Plastic-free</span>
              </div>
            </div>
            </div>
            
            <div class="footer">
                <div>
                <form method="POST" action="" name="id">
                    <button class="cart_button">add to cart</button>
                </form>
                <form method="POST" action="" name="id">
                    <button class="buy_button">buy now</button>
                </form>
                </div>
            </div>

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <footer class="footer_sec">
            <h4>Useful Links</h4>
            <div class="line_div"></div>
            <ul class="uselink">
                <li><a href="#">Sell on COORGANICA</li></a>
                <li><a href="#">About us</li></a>
                <li><a href="#">Contact Us</li></a>
                <li><a href="#">Privacy Policy</li>
                <li><a href="#">Terms & Conditions</li></a>
                <li><a href="#">Return Policy</li></a>
            </ul><br/><br/>
            <ul class="f_social">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul><br/><br/><br/><br/>
            <h4>Others</h4>
            <div class="line_div"></div>
            <ul class="others">
                <li><a href="#">Title</li></a>
                <li><a href="#">Title</li></a>
                <li><a href="#">Title</li></a>
                <li><a href="#">Title</li></a>
                <li><a href="#">Title</li></a>
                <li><a href="#">Title</li></a>
            </ul><br/><br/><br/><br/>
            <h4>Payment Options</h4>
            <div class="line_div"></div>
            <ul class="pay_ops">
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y2kzczak" alt="" width="38">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y25avyul" alt="" width="90">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y435obz3" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y4u86tg7" alt="" width="102">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y6nymyc3" alt="" width="77">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://tinyurl.com/y2pkjsv7" alt="">
                    </a>
                </li>
            </ul>
        </footer>
        <br/><br/><br/><br/><br/><br/>
        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>
        <script src="/js/account.js"></script>
        <script src="/dist/firebaseui.js"></script>
    </body>
</html>