/*===== VARIABLES CSS =====*/
*{
    font-family: calibri;
}
:root{
  --header-height: 3rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1,p,.nav__menu ul{
  margin: 0;
}

.nav__menu ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}


/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
  height: 85px;
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: lightgray;
    transition: .5s;
  }
  .l-header{
    height: 60px;
  }
  .logo img{
    height: 22px  !important;
  }  
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: #00b29a;
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}


/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}

.banner_content{
	text-align: center;
  margin-top:300px;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 40px;
}

.banner_content h1 span{
	color: #00b29a;
}

.logo img{
  height: 25px;
  position: absolute;
  margin-left: 110px;
    
}

.footer_sec{
  margin-left: 50px;
}
.footer_sec h4{
  color: gray;
}
.footer_sec ul{
  margin-left: -65px;
}
.footer_sec ul li{
  list-style: none;
  float: left;
  padding: 10px 25px;
}
.footer_sec .other ul li,.footer_sec .uselink ul li{
  padding: 10px 25px;
}
.footer_sec ul li a{
  color: #525252;
  font-size: 14px;
}
.f_social a{
  font-size: 25px !important;
  color: #00b29a !important;
}
.line_div{
  width: 90%;
  border-top: 1px solid lightgrey;
}

.nav__item form button{
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}